.btn,
button {
    background-color: rgb(104, 136 ,252);
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font: 700 1em/2.2em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 2.2em;
    padding: 0 0.666667em;
    text-align: center;
    text-decoration: none;
    width: auto;
}