textarea {
    resize: none;
}

.form-row {
    margin: 1.25em 0;
    overflow: hidden;
}

.form-row label {
    margin-top: 0.5em;
    text-align: right;
}

.form-buttons {
    text-align: right;
}

.form-control {
    padding: 0.5em;
    width: 100%;
}

.form-control {
    background: #000;
    border: 1px solid rgb(104, 136 ,252);
}