.menu a {
    display: block;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.menu-horizontal {
    display: table;
    width: 100%;
}

.menu-horizontal li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


/* Top menu */

.top-menu {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.top-menu a {
    color: #fff;
    padding: 1.3em 0.625em;
    text-decoration: none;
}

.top-menu a:hover {
    color: rgb(248, 120 ,88);
}
