@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,600italic,400italic|Press+Start+2P&subset=latin,cyrillic);

@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import "reset.css";
@import "grid.css";
@import "menu.css";
@import "form.css";
@import "buttons.css";

/* http://www.dev.bowdenweb.com/nes/nes-color-palette.html */

body {
    background: #000;
    color: rgb(252, 252 ,252);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 2.25em;
}

h2 {
    color: rgb(88, 216 ,84);
    font: 1.875em 'Press Start 2P', cursive;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

h3 {
    color: rgb(184, 184 ,248);
    font: 700 1.5em 'Open Sans', sans-serif;
    margin-bottom: 1em;
}

img {
    width: 100%;
}

p {
    margin: 1em 0;
}

.list {
    list-style: square;
    padding-left: 1em;
}

.row {
    margin: 0 auto;
    max-width: 75em;
}

.first-footer {
    margin-top: 2.5em;
}
.second-footer {
    padding: 2em 0 1.5em;
}

.second-footer p {
    color: #fff;
    font: 0.625em 'Press Start 2P', cursive;
    text-align: center;
}

.sale {
    /*background: #000 url("../img/sale-back.jpg") center no-repeat;*/
    background: #000 url("../img/dendy.png") 100% 100% no-repeat;
    background-size: cover;
    height: 500px;
    /*max-height: 382px;*/
}